<div class="container"><!-- Addin a div with a class of conatainer -->
	<app-laser-cannon></app-laser-cannon>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
</div> 

