<app-death-square></app-death-square> <!-- Adding death square component to the root component to show up on load-->
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>

